[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
graphviz = "*"
protobuf = "*"
pydot = "*"
pyparsing = "*"
pytz = "*"
psycopg = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-pwa = "*"

[dev-packages]

[requires]
python_version = "3.11"
